<div id="TREE__MODAL__" class="__MODAL__">
    <div class="__MODAL_CONTENT__ w3-white">
        <div class="w3-container" style="width:100%;margin: 0;padding: 0;" id="treeViewModal">
            <div id="treeViewTitle">درخت</div>
            <h3 style="text-align:center;color:yellow;background-color:blue;"><span id="TreeSelectedItem">انتخاب نشده</span></h3>
            <div class="w3-row">
                <div style="text-align:center;">
                    <button type="button" onclick="select2Select()" class="w3-bar-item w3-btn w3-teal" style="width:30%;"><i
                            class="fa fa-check fa-2x"></i>
                    </button>
                    <button type="button" onclick="select2Cancel()" class="w3-bar-item w3-btn w3-red" style="width:35%;"><i
                            class="fa fa-times fa-2x"></i>
                    </button>
                    <button type="button" onclick="select2ClearSelection()" class="w3-bar-item w3-btn w3-blue" style="width:30%;"><i
                            class="fa fa-trash fa-2x"></i>
                    </button>
                </div>
            </div>
            <div class="w3-row">
                <div class="TreeViewHolder">
                    <ul role="tree" aria-labelledby="tree_label" id="__TREE__">
                        <li></li>
                    </ul>
                </div>
                <p>
                    <label>
                        مقدار انتخابی:
                        <input id="last_action" type="text" size="15" readonly="">
                    </label>
                </p>
            </div>
        </div>
    </div>
</div>