<div id="CALENDAR__MODAL__" class="__MODAL__">
    <div class="__MODAL_CONTENT__ w3-white">
        <div class="w3-container" style="width:100%;margin: 0;padding: 0;" id="calendarModal">
            <div id="calendarTitle">تاریخ شروع</div>
            <div class="w3-row">
                <div style="text-align:center;" class="w3-bar">
                    <button type="button" class="w3-bar-item w3-btn w3-green _CALENDAR_SELECT" style="width:33.3%;"><i
                            class="fa fa-check fa-2x"></i>
                    </button>
                    <button type="button" onclick="closeModal('CALENDAR__MODAL__')" class="w3-bar-item w3-btn w3-red"
                        style="width:33.3%;"><i class="fa fa-times fa-2x"></i>
                    </button>
                    <button type="button" class="w3-bar-item w3-btn w3-blue _CALENDAR_CLEAR" style="width:33.3%;"><i
                            class="fa fa-trash fa-2x"></i>
                    </button>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-container calendar">
                    <div class="w3-row" style="margin: 5px;">
                        <div class="w3-bar w3-green w3-center">
                            <div class="w3-dropdown-click">
                                <button class="w3-btn w3-red" onclick="dropDown('CALENDAR_previous')">
                                    قبل <i class="fa fa-angle-left"></i> <i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div id="CALENDAR_previous" class="w3-dropdown-content w3-bar-block w3-card w3-right"
                                    style="margin-right: -90px;">
                                    <a href="#" class="w3-bar-item w3-button" onclick="this.dispatchEvent(CalendarPreviousYearEvent);dropDown('CALENDAR_previous');event.stopPropagation();event.preventDefault();">سال
                                        قبلی</a>
                                    <a href="#" class="w3-bar-item w3-button" onclick="this.dispatchEvent(CalendarPreviousMonthEvent);dropDown('CALENDAR_previous');event.stopPropagation();event.preventDefault();">ماه
                                        قبلی</a>
                                </div>
                            </div>
                            <div class="w3-dropdown-click w3-right">
                                <button class="w3-btn w3-red" onclick="dropDown('CALENDAR_next')">
                                    <i class="fa fa-ellipsis-v"></i> <i class="fa fa-angle-right"></i> بعد
                                </button>
                                <div id="CALENDAR_next" class="w3-dropdown-content w3-bar-block w3-card w3-right">
                                    <a href="#" class="w3-bar-item w3-button" onclick="this.dispatchEvent(CalendarNextYearEvent);dropDown('CALENDAR_next');event.stopPropagation();event.preventDefault();">سال
                                        بعدی</a>
                                    <a href="#" class="w3-bar-item w3-button" onclick="this.dispatchEvent(CalendarNextMonthEvent);dropDown('CALENDAR_next');event.stopPropagation();event.preventDefault();">ماه
                                        بعدی</a>
                                </div>
                            </div>
                            <span class="w3-center" style="vertical-align: -webkit-baseline-middle;" id="_CALENDAR_SELECTED_DAY_"></span>
                        </div>
                    </div>
                    <div class="w3-row w3-center">
                        <div class="w3-col w3-round w3-border w3-border-blue" style="width:100%;margin-bottom: 3px;">
                            <span id="_CALENDAR_MONTH_NAME"></span> - <span id="_CALENDAR_YEAR"></span>
                        </div>
                    </div>
                    <div class="w3-row w3-center">
                        <div class="w3-col w3-center calendar-legend" style="width:13%">
                            <p>ش</p>
                        </div>
                        <div class="w3-col w3-center calendar-legend" style="width:13%">
                            <p>ی</p>
                        </div>
                        <div class="w3-col w3-center calendar-legend" style="width:13%">
                            <p>د</p>
                        </div>
                        <div class="w3-col w3-center calendar-legend" style="width:13%">
                            <p>س</p>
                        </div>
                        <div class="w3-col w3-center calendar-legend" style="width:13%">
                            <p>چ</p>
                        </div>
                        <div class="w3-col w3-center calendar-legend" style="width:13%">
                            <p>پ</p>
                        </div>
                        <div class="w3-col w3-center calendar-legend calendar-friday-cell" style="width:13%">
                            <p>ج</p>
                        </div>
                    </div>
                    <div id="__CALENDAR__">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var cal = new PersianCalendar();
    cal.render();
</script>