<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="Select.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="YSelect.js"></script>
	<script src="../../Shared/JS/Utility.js"></script>
	<script src="../../Shared/JS/YQuery.js"></script>
</head>

<body>
	<input type="text" id="__SELECT_INPUT__" placeholder="جستجو.." title="Type in a name" class="SelectInput">
	<div class="search-board">
		<ul id="__SELECT__" class="w3-ul w3-card-4 w3-center w3-hoverable">
			<li><a href="#">Bob</a></li>

			<li><a href="#">Calvin</a></li>
			<li><a href="#">Christina</a></li>
			<li><a href="#">Cindy</a></li>
			<li><a href="#">Adele</a></li>
			<li><a href="#">Agnes</a></li>

			<li><a href="#">Billy</a></li>
			<li><a href="#">Bob</a></li>

			<li><a href="#">Calvin</a></li>
			<li><a href="#">Christina</a></li>
			<li><a href="#">Cindy</a></li>
			<li><a href="#">Adele</a></li>
			<li><a href="#">Agnes</a></li>

			<li><a href="#">Billy</a></li>
			<li><a href="#">Bob</a></li>

			<li><a href="#">Calvin</a></li>
			<li><a href="#">Christina</a></li>
			<li><a href="#">Cindy</a></li>
			<li><a href="#">Adele</a></li>
			<li><a href="#">Agnes</a></li>

			<li><a href="#">Billy</a></li>
			<li><a href="#">Bob</a></li>

			<li><a href="#">Calvin</a></li>
			<li><a href="#">Christina</a></li>
			<li><a href="#">Cindy</a></li>
			<li><a href="#">Adele</a></li>
			<li><a href="#">Agnes</a></li>

			<li><a href="#">Billy</a></li>
			<li><a href="#">Bob</a></li>

			<li><a href="#">Calvin</a></li>
			<li><a href="#">Christina</a></li>
			<li><a href="#">Cindy</a></li>
		</ul>
		<div class="nothing-found w3-center w3-text-orange" style="display:none;" id="SELECT_NOT_FOUND"><i class="w3-text-red fa fa-warning fa-4x faa-flash animated"></i><h3>چیزی یافت نشد</h3></div>
	</div>
	<div id="SearchCount"></div>
	<script>
		var x = new Select();
		x.clearItems();
		x.addItem({text:'یاشار',id:1});
		x.addItem({text:'یاسر',id:2});
		x.addItem({text:'یاس',id:3});
		x.addItem({text:'سحر',id:4});
		x.addItem({text:'کاظم',id:5});
		x.addItem({text:'سرور',id:6});
		x.addItem({text:'سایر',id:7});

	</script>

</body>

</html>