<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="Select.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="YSelect.js"></script>
	<script src="../../Shared/JS/Utility.js"></script>
	<script src="../../Shared/JS/YQuery.js"></script>
</head>

<body>


	<div id="SELECT__MODAL__" class="__MODAL__">
		<div class="__MODAL_CONTENT__ w3-white">
			<div class="w3-container" style="width:100%;margin: 0;padding: 0;" id="selectModal">
				<div id="selectTitle">انتخاب</div>

				<div class="w3-center w3-panel w3-light-blue w3-round w3-rightbar w3-leftbar w3-border-blue">
					<h3 id="SelectSelectedItem" style="text-shadow:1px 1px 0 gray;">انتخاب نشده</h3>
				</div>
				<div class="w3-row">
					<div style="text-align:center;" class="w3-bar">
						<button type="button" onclick="selectSelect()" class="w3-bar-item w3-btn w3-green" style="width:33.3%;"><i class="fa fa-check fa-2x"></i>
						</button>
						<button type="button" onclick="closeModal('SELECT__MODAL__')" class="w3-bar-item w3-btn w3-red" style="width:33.3%;"><i
							 class="fa fa-times fa-2x"></i>
						</button>
						<button type="button" class="w3-bar-item w3-btn w3-blue _SELECT_CLEAR" style="width:33.3%;"><i
							 class="fa fa-trash fa-2x"></i>
						</button>
					</div>
				</div>
				<div class="w3-row">
					<input type="text" id="__SELECT_INPUT__" placeholder="جستجو.." title="Type in a name" class="SelectInput">
					<div class="search-board">
						<ul id="__SELECT__" class="w3-ul w3-card-4 w3-center w3-hoverable">

						</ul>
						<div class="nothing-found w3-center w3-text-orange" style="display:none;" id="SELECT_NOT_FOUND"><i class="w3-text-red fa fa-warning fa-4x faa-flash animated"></i>
							<h3>چیزی یافت نشد</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="SearchCount"></div>
	<script>
		var x = new Select();
		x.setTitle('کاربر؟');
		x.clearItems();
		x.addItem({
			text: 'یاشار',
			id: 1
		});
		x.addItem({
			text: 'یاسر',
			id: 2
		});
		x.addItem({
			text: 'یاس',
			id: 3
		});
		x.addItem({
			text: 'سحر',
			id: 4
		});
		x.addItem({
			text: 'کاظم',
			id: 5
		});
		x.addItem({
			text: 'سرور',
			id: 6
		});
		x.addItem({
			text: 'سایر',
			id: 7
		});
	</script>

</body>

</html>